NEXT_PUBLIC_LOGIN_SERVICE_URL=http://localhost:5001
NEXT_PUBLIC_MENU_SERVICE_URL=http://localhost:5002
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost:5003
NEXT_PUBLIC_SHIPPING_SERVICE_URL=http://localhost:5004