DB_HOST=mysql_logs
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=logs_db
RABBITMQ_URL=amqp://gostilna:gostilnapass@rabbitmq:5672
EXCHANGE_NAME=logs_exchange
QUEUE_NAME=logging_queue
ROUTING_PATTERN=log.#
PORT=5000